{#
    * Front page
    * @package MarionPortfolio
#}
{% extends "layout/default.twig" %}

{% block content %}
	{% include 'layout/_hero.twig' %}

	<div class="container mx-auto mt-6 mb-60 flex items-center justify-around">
		<div class="mx-6 px-6">
			<img src="{{directory}}/assets/public/images/picto-front.png" class="mb-4" width="40" alt="">
			<h2 class="text-purple-700 font-extrabold text-xl mb-3">Front-end</h2>
			<p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		</div>
		<div class="mx-6 px-6">
			<img src="{{directory}}/assets/public/images/picto-back.png" class="mb-4" width="40" alt="">
			<h2 class="text-purple-700 font-extrabold text-xl mb-3">Back-end</h2>
			<p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="mx-6 px-6">
			<img src="{{directory}}/assets/public/images/picto-wp.png" class="mb-4" width="40" alt="">
			<h2 class="text-purple-700 font-extrabold text-xl mb-3">Personnalisé</h2>
			<p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		</div>
	</div>


	<div class="mt-28 mb-0 py-28 bg-gray-100 project-section">
		<div class="container mx-auto">

			<div class="project-section__head">
				<h2 class="text-center mb-6">Projets</h2>
				<p class="mb-10 text-center max-w-3xl flex justify-center mx-auto text-gray-800">Découvrez mes projets et mes contributions, réalisés dans le cadre professionnel ou dans le cadre de mes études. Retrouvez aussi quelques projets personnels.</p>
				<a href="{{ fn('get_post_type_archive_link', 'project') }}">Voir plus de projets</a>
			</div>

			<div class="projects-newest">
				{% if newest_projects %}
					{% for post in newest_projects %}
						{% include 'component-project.twig' %}
					{% endfor %}
				{% endif %}
			</div>

		</div>
	</div>

	<div class="py-28 dev-section">


		<img class="back-illustration" src="{{directory}}/assets/public/images/back-code.svg" alt="">

		<div class="container mx-auto py-28 pl-36 flex justify-center w-1/2 flex-col">


			<h2 class="mb-6">
				Espace dev
			</h2>
			<p class="mb-10 max-w-3xl text-gray-800">Découvrez mes projets et mes contributions, réalisés dans le cadre professionnel ou dans le cadre de mes études. Retrouvez aussi quelques projets personnels.</p>
			<a href="#">Consulter les tips</a>

		</div>
	</div>


{% endblock %}
